<div class="total-cookie-consent-wrapper">
    <form method="POST" class="total-cookie-consent-banner">
        {% if heading|length %}
            <h2>{{ heading }}</h2>
        {% endif %}
        {% if copy|length %}
            <p>{{ copy }}</p>
        {% endif %}
    </form>
</div>