<div class="total-cookie-consent-banner js-total-cookie-consent-banner" role="alert">
    {% if copy|length %}
        <p>
            {{ copy }}
            {% if url|length %}
                <a href="{{ url }}">{{ "Read our cookie policy"|t('total-cookie-consent') }}.</a>
            {% endif %}
        </p>
    {% endif %}
    <button class="js-total-cookie-consent-close-button">
        {{ "okay"|t('total-cookie-consent') }}
    </button>
</div>